extends layout

block content
  div.container
    div.row
      div.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        div.post-preview
          h4
            a(href="") Man must explore, and this is exploration at its greatest
          p.post-subtitle Teaser text. Problems look mighty small from 150 miles up...
          p.post-meta Posted on September 24, 2014
    
